.Google-Provider {
  width: 95%;
  background: #FFFFFF;
  border: .6px solid #D9D9DB;
  border-radius: .2rem;
  padding: 1.1rem 0;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000000;

}