.frist-back {
  background-color:#0A071B;
}

.frist-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 20px;
}

.footer-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.footer-sub-heading a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #BCB8D0 !important;
  margin-right: 31px;
  cursor: pointer;
  text-decoration: none;
}

.second-back {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), #2A263F;
}

.second-foooter-content {
  padding: 40px 15px;
}

.second-footer-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 0;
  text-align: center;
}

.second-footer-heading span {
  color: #F58859;
}

.second-footer-sub-heading span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-right: 26px;
  cursor: pointer;
}


/* Media quries */
@media (max-width:810px) and (min-width:300px) {
  .frist-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }

  .footer-heading {
    margin-bottom: 15px;
  }

  .footer-sub-heading a {
    display: block;
    margin-right: 0px;
    margin-bottom: 15px;
    text-align: center;
  }

  .second-footer-heading {
    margin-bottom: 12px;
  }

  .second-footer-sub-heading span {
    display: block;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .second-foooter-content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}