.form-container {
  padding: 26px 0 36px 36px;
}

.heding-signup {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 26px;
}

.input-name {
  width: 95%;
}

.input {
  border-radius: 0;
  background: #F7F8FA;
  border: 1px solid #D9D9DB;
  padding: 20px 20px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #8A8A8A;
  margin-bottom: 10px;
}

.Signup-Button {
  width: 95%;
  margin: 19px 0 24px 0;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px;
  background: #F58859;
  border-radius: 25px;
}

.image-content {
  margin-top: 40px;
  padding-right: 36px;
}

.Privacy-policy {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: #000000;
  opacity: 0.6;
}

.acount-heading {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  text-align: right;
  color: #3D3D3D;
}

.acount-heading span {
  color: #2F6CE5;
  font-weight: 600;
  cursor: pointer;
}

.forget-password {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.008rem;
  color: #000000;
  margin-top: 23px;
  cursor: pointer;
}

.signout {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.userName {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 18px;
  color: #000000;
  margin-bottom: 0;
  cursor: pointer;
}