.services-container {
  /* background-color: #0A071B; */
  padding: 70px 0px;
}
.service-main  {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 62px;
  color: #0A071B;
}
.service-sub {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #f58859;
}